.about-para {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 100px repeat(2, 0.5fr);
  &__about-title {
    text-align: left;
    margin-left: 1em;
  }
  &__about-description {
    margin-left: 1em;
    text-align: left;
  }
  &__tech {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    .heart-title {
      font-size: 7vw;
    }
    .heart-icon {
      color: red;
    }
    .react-icon {
      // justify-content: center;
      // align-self: center;
    }
  }
}

@media (min-width: 650px) {
  .about-para {
    &__tech {
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      .heart-title {
        font-size: 4vw;
      }
    }
  }
}

@media (min-width: 1000px) {
  .about-para {
    &__tech {
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      .heart-title {
        font-size: 3vw;
      }
    }
  }
}
