.about-para {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 100px repeat(2, 0.5fr);
  &__about-title {
    text-align: center;
    margin-left: 1em;
    font-size: 9vw;
  }
  &__about-description {
    margin: 4% 4% 10% 4%;
    text-align: justify;
    color: #213f59;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 5vw;
    span {
      color: #f21515;
      font-size: 6vw;
    }
  }
  &__tech {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    .heart-title {
      font-size: 7vw;
    }
    .heart-icon {
      color: red;
    }
    .react-icon {
      // justify-content: center;
      // align-self: center;
    }
  }
}

@media (min-width: 650px) {
  .about-para {
    &__about-description {
      margin: 5% 10% 5% 10%;
      text-align: justify;
      color: #213f59;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 3vw;
      span {
        color: #f21515;
        // font-size: 6vw;
      }
    }
    &__tech {
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      .heart-title {
        font-size: 4vw;
      }
    }
  }
}

@media (min-width: 1000px) {
  .about-para {
    &__about-title {
      // text-align: center;
      // margin-left: 1em;
      font-size: 10vw;
    }
    &__about-description {
      margin: 5% 25% 5% 25%;
      // height: 8vh;
      text-align: justify;
      color: #213f59;
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 2vw;
      span {
        font-size: 5vw;
      }
    }
    &__tech {
      margin-left: 1em;
      display: flex;
      flex-direction: column;
      .heart-title {
        font-size: 2vw;
      }
    }
  }
}
