.row {
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  &__my-name {
    flex: 0 0 50%;
    margin: 1em 0 3em 0;
    justify-content: flex-start;
    h3 {
      font-size: 8vh;
      span {
        margin-left: 1em;
      }
    }
  }
  &__contact {
    flex: 0 0 70%;
    margin-top: 1em;
    justify-content: flex-end;
  }
}

@media (min-width: 650px) {
  .row {
    &__my-name {
      flex: 0 0 30%;
    }
    &__contact {
      flex: 0 0 120%;
      margin-top: 1em;
    }
  }
}

@media (min-width: 1000px) {
  .row {
    &__my-name {
      flex: 0 0 20%;
      h3 {
        font-size: 12vh;
        // span {
        //   margin-left
        // }
      }
    }
    &__contact {
      flex: 0 0 140%;
      margin-top: 1em;
    }
  }
}
