.row {
  background-color: white;
  min-height: 30vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  // font-size: calc(10px + 2vmin);
  color: black;
  &__my-name {
    flex: 0 0 50%;
    margin: 1em 0 3em 0;
    h3 {
      font-size: 10vh;
      font-weight: 400;
      color: black;
      span {
        margin-left: 2em;
      }
    }
  }
  &__contact {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 4vh;
  }
}

@media (min-width: 650px) {
  .row {
    flex-direction: row;
    &__my-name {
      flex: 0 0 30%;
      h3 {
        font-size: 12vh;
        font-weight: 400;
        span {
          margin-left: 2em;
        }
      }
    }
    &__contact {
      flex: 0 0 30%;
      margin-top: 1em;
      font-size: 5vh;
    }
  }
}

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
    &__my-name {
      flex: 0 0 20%;
      h3 {
        font-size: 15vh;
        font-weight: 400;
        span {
          margin-left: 2em;
        }
      }
    }
    &__contact {
      flex: 0 0 90%;
      margin-top: 1em;
      font-size: 6vh;
    }
  }
}
