.work-container {
  &__work-title {
    font-size: 12vw;
  }
  &__project-container {
    margin: 10% 2% 2% 2%;
    display: grid;
    grid-gap: 80px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px;
    .work-1 {
      background-color: white;
      img {
        width: 100%;
        height: auto;
        &:hover {
          opacity: 0.1;
          // background: rgba(33, 63, 89, 0.5);
        }
      }
    }
    .work-2 {
      background-color: pink;
      // height: 600px;
      &:hover {
        // opacity: 0.1;
        background-color: rgba(33, 63, 89, 0.1);
      }
    }
    .work-3 {
      background-color: pink;
      // height: 600px;
      &:hover {
        opacity: 0.1;
      }
    }
  }
}

@media (min-width: 650px) {
}

@media (min-width: 1000px) {
  .work-container {
    &__work-title {
      font-size: 10vw;
    }
    &__project-container {
      margin: 10% 2% 2% 2%;
      display: grid;
      grid-gap: 60px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 300px 300px;
      .work-1 {
        background-color: white;
        img {
          width: 50%;
          height: 100%;
          &:hover {
            opacity: 0.1;
            // background: rgba(33, 63, 89, 0.5);
          }
        }
      }
      .work-2 {
        background-color: pink;
        &:hover {
          // opacity: 0.1;
          background-color: rgba(33, 63, 89, 0.1);
        }
      }
      .work-3 {
        background-color: pink;
        &:hover {
          opacity: 0.1;
        }
      }
    }
  }
}
