@import "partials/navbar";
@import "partials/elements";
@import "partials/about";
@import "partials/work";

.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}

// .wrapper {
//   text-align: center;
//   margin: 0 auto;
//   max-width: 1200px;
// }

@media (min-width: 650px) {
  .wrapper {
    width: 97%;
    max-width: 767px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    width: 97%;
    max-width: 1400px;
  }
}
